name: Publish Patch
on:
  push:
    branches:
      - master
      - dev
      - patch-demo

jobs:
  master:
    if: "startsWith(github.event.head_commit.message, '[Patch]')"
    runs-on: ubuntu-22.04
    name: Publish patch
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_AUTOMATION_TOKEN }}

      - name: Deploy Assets and Patch to Cloudflare Pages
        id: cloudflare_deployment
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'sw-chain-list-assets'
          gitHubToken: ${{ secrets.GH_AUTOMATION_TOKEN }}
          branch: ${{ github.ref_name }}
          directory: './packages/chain-list-assets/public'
          wranglerVersion: '3'

      - name: Notify to Discord
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          username: Chain List Notifier
          title: ${{ github.workflow }}
          description: |
            The patch has been completed.
            Commit message: ${{ github.event.head_commit.message }}
